.NOMAD {
  font-family: "Courier New", "Courier Prime", Courier, American Typewriter, monospace, serif;
  font-style: normal;
  font-weight: 400, normal;
}
.APDIS {
  font-family: "Open Sans SemiCondensed", "Open Sans Condensed", "Open Sans", "Canva Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600, 500, 400, normal;
}
.ENTPG {
  font-family: "Times New Roman", Times, serif
  font-style: normal;
  font-weight: 400, normal;
}
